In [1]:
import pandas as pd
import pymongo

In [5]:
data_mongo = pymongo.MongoClient('mongodb+srv://brandon:brandon1@cluster0.tfvievv.mongodb.net/?retryWrites=true&w=majority')

# Seleccionar una base de datos existente o crear una nueva llamada 'test'.
db = data_mongo['test']

In [6]:
def mongo_data(collection):
    mongoColle= db[collection]
    data= list(mongoColle.find())
    df= pd.json_normalize(data,sep='_')
    df._id=df._id.astype(str)
    return df

In [7]:
setle_n= mongo_data('settlements')

In [18]:
setle_n

,_id,enabledUsers,plots,enabled,limits,centralPoint,hectares,registerNumber,headsCount,name,createdAt,updatedAt,__v,auravantApiKey
0,643d68845d392b976ac0228a,[6201245070900d002592d7ec],[642b1d27cc00091984864f0d],False,[],[{'_id': 642b1d27cc00091984864f0b}],79.9866,,0.0,prueba macsa,2023-04-03 18:38:31.434,2023-04-03 18:39:36.413,0,NaN
1,643d68845d392b976ac02286,[6201245070900d002592d7ec],"[63e6456b22ee080030ba8756, 6414cf9bb2505016885...",False,"[{'_id': 63e6454922ee080030ba8729, 'lat': -32....","[{'_id': 63e6454922ee080030ba872d, 'lat': -32....",0.5700,None,NaN,establecimiento de prueba,2023-02-10 13:23:21.915,2023-04-03 18:39:57.746,0,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...
2,643d68845d392b976ac02289,[6201245070900d002592d7ec],[],False,"[{'_id': 63ff75624c2d6d003084c118, 'lat': -26....","[{'_id': 63ff75624c2d6d003084c11c, 'lat': -26....",61.5600,NaN,NaN,Prueba,2023-03-01 15:55:14.078,2023-03-01 15:55:45.760,0,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...
3,643d68845d392b976ac02283,"[6201245070900d002592d7ec, 636c17ea2bd5b200305...","[63b55f4b973f9f35c0c5b37d, 63b55f4b973f9f35c0c...",True,"[{'_id': 63cedb56ea0de8476c39744d, 'lat': -32....","[{'_id': 63cedb56ea0de8476c397457, 'lat': -32....",5000.0000,XCSS12345,10.0,La Florida,2022-02-17 15:48:47.058,2023-02-17 15:11:39.739,0,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...
4,643d68845d392b976ac02284,[6201245070900d002592d7ec],"[63877cd7e1ed590030662d11, 63d116f852372700318...",False,"[{'_id': 63cedb6dea0de8476c39747b, 'lat': -33....","[{'_id': 63cedb6dea0de8476c39747f, 'lat': -33....",100.0000,12311413,100.0,Stock Test,2022-11-30 15:55:03.627,2023-02-07 21:47:03.299,0,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...
5,643d68845d392b976ac02288,"[6201245070900d002592d7ec, 63ecb2e2a9f1a400257...","[63eff7fbebcff60025f5d968, 63effaa9eb90f92734f...",True,"[{'_id': 63ecf27ba9f1a40025792ad0, 'lat': -34....","[{'_id': 63ecf27ba9f1a40025792ad4, 'lat': -34....",1.0900,None,NaN,MACSA,2023-02-15 14:55:55.972,2023-03-23 14:29:30.396,0,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...
6,643d68845d392b976ac02285,[6201245070900d002592d7ec],[63f8c5c6110f66003023ec90],False,"[{'_id': 63f01465e572c6002f4d73f2, 'lat': -32....","[{'_id': 63f01465e572c6002f4d73f5, 'lat': -32....",0.2100,None,NaN,prueba,2023-02-10 13:09:16.013,2023-02-27 19:07:42.186,0,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...
7,643d68845d392b976ac0228b,[6201245070900d002592d7ec],[642c0e4a6490e600305e18eb],True,"[{'_id': 642c0b596490e600305e181a, 'lat': -26....","[{'_id': 642c0b596490e600305e181e, 'lat': -26....",11.3300,None,NaN,Test,2023-04-04 11:34:49.097,2023-04-04 11:47:23.175,0,NaN
8,643d68845d392b976ac02287,[6201245070900d002592d7ec],[63f8fd2a3c8b18002f20a41e],False,"[{'_id': 63efd78d65980f4378711b70, 'lat': -32....","[{'_id': 63ecf27ba9f1a40025792ad4, 'lat': -34....",0.0200,None,NaN,prueba macsa,2023-02-17 19:37:49.367,2023-04-03 18:39:48.051,0,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...

In [9]:
local = pymongo.MongoClient('localHost:27017')

In [12]:
db_local=local['test']

local_setle= db_local['settlements']

In [15]:

data= list(local_setle.find())
df= pd.json_normalize(data,sep='_')
df._id=df._id.astype(str)

In [17]:
df

,_id,enabledUsers,plots,limits,hectares,registerNumber,headsCount,name,createdAt,updatedAt,__v,centralPoint,auravantApiKey,enabled
0,620e6e5e60543d0026a01f0e,"[6201245070900d002592d7ec, 636c17ea2bd5b200305...","[63b55f4b973f9f35c0c5b37d, 63b55f4b973f9f35c0c...","[{'_id': 63cedb56ea0de8476c39744d, 'lat': -32....",5000.0000,XCSS12345,10.0,La Florida,2022-02-17 15:48:47.058,2023-02-17 15:11:39.739,0,"[{'_id': 63cedb56ea0de8476c397457, 'lat': -32....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,True
1,63877cd7e1ed590030662d0a,[6201245070900d002592d7ec],"[63877cd7e1ed590030662d11, 63d116f852372700318...","[{'_id': 63cedb6dea0de8476c39747b, 'lat': -33....",100.0000,12311413,100.0,Stock Test,2022-11-30 15:55:03.627,2023-02-07 21:47:03.299,0,"[{'_id': 63cedb6dea0de8476c39747f, 'lat': -33....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,False
2,63e641fc22ee080030ba838b,[6201245070900d002592d7ec],[63f8c5c6110f66003023ec90],"[{'_id': 63f01465e572c6002f4d73f2, 'lat': -32....",0.2100,None,NaN,prueba,2023-02-10 13:09:16.013,2023-02-27 19:07:42.186,0,"[{'_id': 63f01465e572c6002f4d73f5, 'lat': -32....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,False
3,63e6454922ee080030ba8728,[6201245070900d002592d7ec],"[63e6456b22ee080030ba8756, 6414cf9bb2505016885...","[{'_id': 63e6454922ee080030ba8729, 'lat': -32....",0.5700,None,NaN,establecimiento de prueba,2023-02-10 13:23:21.915,2023-04-03 18:39:57.746,0,"[{'_id': 63e6454922ee080030ba872d, 'lat': -32....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,False
4,63efd78d65980f4378711b6f,[6201245070900d002592d7ec],[63f8fd2a3c8b18002f20a41e],"[{'_id': 63efd78d65980f4378711b70, 'lat': -32....",0.0200,None,NaN,prueba macsa,2023-02-17 19:37:49.367,2023-04-03 18:39:48.051,0,"[{'_id': 63ecf27ba9f1a40025792ad4, 'lat': -34....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,False
5,63ecf27ba9f1a40025792acf,"[6201245070900d002592d7ec, 63ecb2e2a9f1a400257...","[63eff7fbebcff60025f5d968, 63effaa9eb90f92734f...","[{'_id': 63ecf27ba9f1a40025792ad0, 'lat': -34....",1.0900,None,NaN,MACSA,2023-02-15 14:55:55.972,2023-03-23 14:29:30.396,0,"[{'_id': 63ecf27ba9f1a40025792ad4, 'lat': -34....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,True
6,63ff75624c2d6d003084c117,[6201245070900d002592d7ec],[],"[{'_id': 63ff75624c2d6d003084c118, 'lat': -26....",61.5600,NaN,NaN,Prueba,2023-03-01 15:55:14.078,2023-03-01 15:55:45.760,0,"[{'_id': 63ff75624c2d6d003084c11c, 'lat': -26....",eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzcmMiO...,False
7,642b1d27cc00091984864f0a,[6201245070900d002592d7ec],[642b1d27cc00091984864f0d],[],79.9866,,0.0,prueba macsa,2023-04-03 18:38:31.434,2023-04-03 18:39:36.413,0,[{'_id': 642b1d27cc00091984864f0b}],NaN,False
8,642c0b596490e600305e1819,[6201245070900d002592d7ec],[642c0e4a6490e600305e18eb],"[{'_id': 642c0b596490e600305e181a, 'lat': -26....",11.3300,None,NaN,Test,2023-04-04 11:34:49.097,2023-04-04 11:47:23.175,0,"[{'_id': 642c0b596490e600305e181e, 'lat': -26....",NaN,True

In [ ]:
cambio={'643d68845d392b976ac0228a':'642b1d27cc00091984864f0a',	
'643d68845d392b976ac02286':'63e6454922ee080030ba8728',	
'643d68845d392b976ac02289':'63ff75624c2d6d003084c117',	
'643d68845d392b976ac02283':'620e6e5e60543d0026a01f0e',	
'643d68845d392b976ac02284':'63877cd7e1ed590030662d0a',	
'643d68845d392b976ac02288':'63ecf27ba9f1a40025792acf',	
'643d68845d392b976ac02285':'63e641fc22ee080030ba838b',	
'643d68845d392b976ac0228b':'642c0b596490e600305e1819',	
'643d68845d392b976ac02287':'63efd78d65980f4378711b6f'}